



.kutu1 {
    margin-top: 250px;   
    width: 351px;
    height: 113px;
    margin-right: auto;
    margin-left: auto; 
    margin-bottom: auto;
    }
    
    
    
    .kutu2 {
        margin-left: auto;
        margin-right: auto;
        width: 1206px;
        
        
     }
    #voice{
        margin-right: 1000px;
        
   }
    
   